<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibdb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<!-- <mapping resource="com/wwi/entities/Member.hbm.xml" /> <mapping resource="com/wwi/entities/InsurancePolicy.hbm.xml" 
			/> -->
		<mapping class="com.wwi.entities.Member" />
		<mapping class="com.wwi.entities.InsurancePolicy" />
	</session-factory>
</hibernate-configuration>